body{
    align-items: center;
    background-color:rgb(238, 96, 0);
    color:hsl(30, 10%, 34%);
    display: block;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    height: 100vh;
    justify-content: center;
    width: 100%;
}

/* Nav bar styling */
.nav-section{
    align-items: center;
    background-color: rgb(218, 207, 191);
    color: rgb(238, 96, 0);
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    overflow: hidden;
    height: 3rem;
    margin-bottom: 2rem;
}
.nav-div ul{
    list-style: none;
    color: white;
    display: flex;
    float: left;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-around;
}
.nav-div a{
    color: rgb(238, 96, 0);
    text-decoration: none;

}
.logo-div{
    align-items: center;
}
.logo-div a{
    color: rgb(238, 96, 0);
    text-transform: capitalize;
    letter-spacing: 2;
    text-decoration: none;
}

/* Recipe Index Dropdown */
.rec-ind-dd {
    float: left;
    overflow: hidden;
}
/* Dropdown link */
.rec-ind-dd .dropbtn-rec-ind {
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

/* Dropdown content */
.rec-ind-dd-content {
    color: rgb(238, 96, 0);
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.rec-ind-dd-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.rec-ind-dd-content a:hover {
    background-color: #ddd;
}
.rec-ind-dd:hover .rec-ind-dd-content {
    display: block;
}

/* Sub-nav bar styling */
.sub-nav-section{
    align-content: center;
    background-color: rgb(238, 96, 0);
    display: none;
    justify-content: space-around;
}
.sub-nav-div ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-around;
    padding: 1rem;
}

/* Search bar Styling */
.search-div input{
    color: rgb(238, 96, 0);
    border: none;
    border-radius: 0.5rem;
    height: 30px;
    padding: 5px;
}
.search-div button{
    background-color: rgb(238, 96, 0);
    border: none;
    border-radius: 0.5rem;
    color: white;
    height: 30px;
    margin-left: 2rem;
    padding: 5px;
    width: 5rem;
}
.search-div button:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(238, 96, 0);
}


/* Text Styles */
h2 {
    color: hsl(14, 45%, 36%);
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
    padding-top: 1.3rem;
}

h1 {
    color:hsl(24, 5%, 18%);
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
    padding-top: 1.3rem;
}

p{
    font-size: 16px;
    margin-bottom: 7px;
}

/* Content Styles */
.main-cont-div {
    background-color: rgb(218, 207, 191);
    border-radius: 2rem;
    display: block;
    margin: 0 auto;
    padding: 2rem 2rem;
    width: 50%;
}

.img-cont {
    background-image: url('https://i.ibb.co/s5CkKqc/image-omelette.jpg');
    background-size: cover;
    background-position: center;
    height: 20rem;
    width: 100%;
}

/* prep time style */
.prep-time {
    background-color:hsl(330, 100%, 98%);
    border-radius: 1rem;
    padding: 1rem;
}

.prep-time h4 {
    color: hsl(332, 51%, 32%);
}
    
.prep-time-list li {
    margin-bottom: 7px;
}

/* List Styling */
ol, ul {
    line-height: 1.8;
}
ol li::marker {
    color: hsl(332, 51%, 32%);
    font-weight: bold;
}

tr{
    line-height: 1.7;
}
